body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
    margin: 0;
}

h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}

h4 {
  margin-top: 5px;
}

canvas {
    background-color: gray;
    margin-top: 5px;
}


#score {
    font-size: 20px;
    margin-top: 1;
}

#start-btn {
    display: block;
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: orange;
    margin: 1px auto 1px;
}
